.hero {
    min-height: calc(50vh + 100px);
    background-color: var(--mat-sys-surface);
    background-image: url('/img/connected_world.webp');
    background-size: 1000px auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.inner {
    padding-top: 150px;
    padding-bottom: 0px;
}